{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha - Bit a Bit</title>
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <main class="container-principal">

                           <section class="secao-login">
                               <div class="conteudo-login">
                                <div class="conteudo-login">
    
                                   {% if messages %}
                         <ul class="messages">
                                   {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                   {% endfor %}
                         </ul>
                                   {% endif %}
    
                               <h1>Recuperar Senha</h1>
                <p>Insira seu usuário e e-mail para receber as instruções.</p>
                
                <form method="POST" action="{% url 'password_reset' %}">
                                       {% csrf_token %}
    
                              <div class="grupo-input">
                                 <label for="id_email">Email</label>
                                 <input type="email" id="id_email" name="email" placeholder="Digite seu Email:" required>
                       </div>
    
                            <button type="submit" class="botao-entrar">Enviar</button>
               </form>

                <a href="{% url 'login' %}" style="text-align: center; margin-top: 10px; color: #666; text-decoration: none; font-size: 0.9em;">Voltar para o Login</a>

            </div>
        </section>

        <section class="secao-visual">
            <h1 class="texto-logo">Bit <br> a <br> Bit</h1>
        </section>

    </main>
    <script src="{% static 'js/esqueci.js' %}"></script>
</body>
</html>